{% extends 'adminbase.html.twig' %}

{% block title %}Üye Detay{% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Üye Detay

                <div>
                    <small><a href="{{ path('admin_user_new') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus
                "></i>Üye Ekleme</a> </small>
                </div>
            </h1>
            <div class="panel panel-default">


                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive table-bordered">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ category.id }}</td>
                            </tr>
                            <tr>
                                <th>Parentid</th>
                                <td>{{ category.parentid }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ category.title }}</td>
                            </tr>
                            <tr>
                                <th>Keywords</th>
                                <td>{{ category.keywords }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ category.description }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ category.status }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <a href="{{ path('admin_category_index') }}">back to list</a>

                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}">edit</a>

                        {{ include('admin/category/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
